In [0]:
from pyspark.sql.functions import *
#spark.conf.set("spark.sql.adaptive.enabled", "false")

In [0]:
# Big DataFrame
df_transactions = spark.createDataFrame([
    (1, "US", 100),
    (2, "IN", 200),
    (3, "UK", 150),
    (4, "US", 80),
], ["id", "country_code", "amount"])

# Small DataFrame
df_countries = spark.createDataFrame([
    ("US", "United States"),
    ("IN", "India"),
    ("UK", "United Kingdom"),
], ["country_code", "country_name"])

In [0]:
df_transactions.createOrReplaceTempView("transactions")
df_countries.createOrReplaceTempView("countries")

In [0]:
df_sql_opt = spark.sql(
    '''SELECT /* broadcast(c) */ 
        * 
FROM transactions t 
JOIN countries c 
ON t.country_code = c.country_code''')

In [0]:
df_sql_opt.display()